@use '@/styles/themes/global.scss' as *;
@use '@/styles/themes/_variables.scss' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. html/body 基础样式 */
html,
body {
  width: 100%;
  height: 100%;
  line-height: 1.5;
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  font-size: $base-font-size;
  font-family: '微软雅黑', Arial, sans-serif;
}

html {
  // 默认桌面端
  font-size: $base-font-size;

  // 大屏设备
  @media (min-width: 1920px) {
    font-size: 18px; // 大屏稍微放大
  }

  // 平板端
  @media (max-width: $breakpoint-lg) {
    font-size: $base-font-size-tablet;
  }

  // 移动端
  @media (max-width: $breakpoint-md) {
    font-size: $base-font-size-mobile;
  }

  // 小屏移动端
  @media (max-width: $breakpoint-sm) {
    font-size: $base-font-size-small;
  }

  // 超小屏
  @media (max-width: $breakpoint-xs) {
    font-size: 12px;
  }
}

/* 3. 链接样式 */
a {
  color: var(--sub-text-color);
  text-decoration: none;
}

/* 4. 列表 */
ul,
ol {
  list-style: none;
}

/* 5. 图片/视频/媒体元素 */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 6. 表格 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 7. 表单元素 */
input,
button,
textarea,
select {
  font: inherit;
  color: var(--sub-text-color);
  outline: none;
  border: none;
  background: none;
  background-color: var(--input-bg-color);
}

/* 去掉 number input 的上下箭头 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 去掉搜索框 x */
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* 8. 鼠标和滚动条 */
button {
  cursor: pointer;
  background: none;
  border: none;
}

textarea {
  resize: none; /* 禁止拖拽改变大小，可选 */
}

/* 9. 滚动条 */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: var(--card-bg-color-inner);
}

::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background-color: var(--card-bg-color-inner);
  border-radius: 100px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

@font-face {
  font-family: '寒蝉半圆'; // 自定义的名字，之后用这个
  src: url('@/assets/fonts/hanchanbanyuanti.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; // 推荐：避免加载时闪烁
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-base;
  color: var(--text-color);
  font-weight: $h-font-weight;
  line-height: $h-line-height;
}

// 各级标题大小
h1 {
  font-size: $h1-size;
}
h2 {
  font-size: $h2-size;
}
h3 {
  font-size: $h3-size;
}
h4 {
  font-size: $h4-size;
}
h5 {
  font-size: $h5-size;
}
h6 {
  font-size: $h6-size;
}
